* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
}

window#waybar {
  color: #cfc9c2;
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
  padding-right: 10px;
}

button:hover {
  background-color: transparent;
  text-shadow: #ffffff 1px 0 4px;
}

#custom-ss {
  color: rgb(26, 27, 38);
  font-size: 15px;
  border-radius: 50%;
  padding: 0 9px 1px 6px;
  margin-top: 19px;
  margin-bottom: 16px;
  margin-right: 10px;
  text-shadow:
    0 0 0.2em #fff,
    0 0 0.1em #fff;
}

#custom-wall {
  font-size: 15px;
  color: rgb(26, 27, 38);
  padding: 0 9px 1px 6px;
  border-radius: 50%;
  margin-top: 19px;
  margin-bottom: 16px;
  margin-left: 10px;
  text-shadow:
    0 0 0.2em #fff,
    0 0 0.1em #fff;
}

#mpd,
#pulseaudio,
#battery,
#cpu,
#memory,
#network,
#temperature,
#backlight,
#custom-sep {
  background-color: rgba(26, 27, 38, 0.7);
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 7px;
}

#pulseaudio,
#backlight,
#cpu,
#memory,
#temperature,
#network,
#battery {
  border-top: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  font-size: 12px;
}

#mpd {
  border: 3px solid #ffffff;
  margin-left: 9px;
  padding: 0 7px 0 7px;
  font-size: 12px;
}

#workspaces {
  margin-top: 10px;
  margin-bottom: 7px;
  margin-left: 9px;
}

#workspaces button {
  color: #ffffff;
  border: 0;
  transition: all 0.2s ease-in;
}

#workspaces button.active {
  color: #ffffff;
  text-shadow: #fff 0px 0px 7px;
  transition: all 0.2s ease-in;
}

#clock {
  font-size: 15px;
  font-weight: bolder;
  color: rgba(26, 27, 38, 0.9);
  margin-top: 10px;
  margin-bottom: 7px;
  padding-right: 10px;
  padding-left: 10px;
  text-shadow:
    0 0 0.5em #fff,
    0 0 0.2em #fff;
}

#battery {
  padding: 0 13px 0 3px;
  border-right: 3px solid #ffffff;
  margin-right: 9px;
}

#custom-sep {
  font-size: 22px;
  color: #ffffff;
  border-top: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
}

#cpu {
  padding: 0 3px 0 3px;
}

#memory {
  padding: 0 3px 0 3px;
}

#backlight {
  padding: 0 10px 0 3px;
}

#network {
  padding: 0 3px 0 3px;
}

#network.disconnected {
  font-size: 11px;
}

#pulseaudio {
  padding: 0 8px 0 7px;
  border-left: 3px solid #ffffff;
}

#temperature {
  padding: 0 3px 0 3px;
}

#temperature.critical {
  font-size: 11px;
  padding: 0 3px 0 3px;
  color: #ffffff;
}
